<!-- 
    Main.html  → Plantilla de la que todos heredarán
    Store.html  → Página de inicio/fachada de la tienda con todos los productos
    Cart.html  → Carrito de compras de los usuarios
    Checkout.html  → Página de pago 
-->

{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
						<!-- data-product="{{product.id}}"  este atributo permite agregar el producto con la id seleccionada -->
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Añadir al Carrito</button>
				<h4 style="display: inline-block;"><strong>
				${{product.price|floatformat:2}}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}